<button (click)="toggleForm()">
  {{ isEditing ? 'Cancel Edit' : 'Create New Student' }}
</button>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>

  </tr>
  <tr *ngFor="let s of students">
    <td>{{s.id}}</td>
    <td>{{s.name}}</td>
    <td>{{s.email}}</td>
    <td>{{s.age}}</td>

    <td>
      <button (click)="editStudent(s)">Edit</button>
      <button (click)="deleteStudent(s.id)">Delete</button>
    </td>
  </tr>
</table>

<div *ngIf="showForm">
  <h1>{{isEditing ? 'Update' : 'Create'}} Student</h1>
  <form (ngSubmit)="submitStudent()">
    <input
      type="text"
      [(ngModel)]="newStudent.name"
      name="name"
      placeholder="Name"
      required
    />
    <input
      type="email"
      [(ngModel)]="newStudent.email"
      name="email"
      placeholder="Email"
      required
    />
    <input
      type="number"
      [(ngModel)]="newStudent.age"
      name="age"
      placeholder="Age"
      required
    />
    <button type="submit">{{isEditing ? 'Update' : 'Create'}}</button>

  </form>

</div>

